/* UNIVERSAL STYLING */
body{
  font-family: 'Roboto', sans-serif;
}


/* LANDING PAGE STYLING */
.landing-page{
  height: 62vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-image: url('./assets/images/landing-bg.jpg');
  background-repeat: repeat;
  z-index: 1;
}

.landing-page-bot{
  height: 40vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-image: url('./assets/images/landing-bg.jpg');
  background-repeat: repeat;
  z-index: 1;
}

.transparent-bot{
  position: absolute;
  height: 40vh;
  width: 100%;
  background: #FFF;
  opacity: 0.75;
  z-index: 2;
}

.landing-page h1{
  font-size: 72px;
  margin-bottom: 10px;
}

.landing-page p{
  font-size: 24px;
  margin-top: 20px;
}

#landing-green{
  color: rgb(17, 255, 205);
}

.social-media{
  position: absolute;
  width: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 8%;
  z-index: 5;
}

.social-media a{
  text-decoration: none;
  color: black;
}

.landing-page .fa{
  margin: 10px;
}

.landing-page .fa:hover{
  transition: all ease 0.3s;
  cursor: pointer;
  color: #11FFCD;
}

.landing-page-bot .fa:hover{
  transition: all ease 0.3s;
  cursor: pointer;
  color: #11FFCD;
}

.transparent{
  position: absolute;
  height: 62vh;
  width: 100%;
  background: #FFF;
  opacity: 0.75;
  z-index: 2;
}
.landing-text{
  z-index: 5;
}

.burger{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}


/* ABOUT SECTION STYLING */
.about-section{
  height: 65vh;
  max-width: auto;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: #222;
  color: #E3E3E3;
}

.about-section p{
  font-family: 'Roboto', sans-serif;
  color: #E3E3E3;
}

.about-header{
  font-size: 48px;
  font-family: Montserrat, sans-serif;
  text-align: center;
  color: #E3E3E3;
}

.about-row{
  height: 40%;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-row p{
  width: 50%;
  text-align: center;
  line-height: 1.5em;
}

.avatar{
  background-image: url('./assets/images/ericbui.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 225px;
  width: 225px;
  border-radius: 50%;
}

.resume-btn{
  margin-top: 3%;
  border: none;
  height: 50px;
  width: 150px;
  padding: 10px;
  font-size: 14px;
  border-radius: 30px;
  background: #F2F2F2;
}

.resume-btn:hover{
  transition: all ease 0.6s;
  background: #11FFCD;
}


/* SKILLS SECTION STYLING */
.skills-section{
  height: 30vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: #222;
}

.skills-header{
  font-size: 48px;
  font-family: Montserrat, sans-serif;
  text-align: center;
  color: #F2F2F2;
}

.logos-section{
  margin: auto;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.skill-logos{
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 60px;
  width: 60px;
  margin-bottom: 5px;
}

.logo-container{
  background: #E3E3E3;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-container:hover{
  transition: all ease 0.3s;
  cursor: pointer;
  transform: scale(1.1);
}

#html-logo{
  background-image: url('./assets/images/html-logo.png');
}

#css-logo{
  background-image: url('./assets/images/css-logo.png');
}

#js-logo{
  background-image: url('./assets/images/javascript-logo.png');
}

#react-logo{
  background-image: url('./assets/images/react-logo.png');
}

#redux-logo{
  background-image: url('./assets/images/redux-logo.png');
}

#node-logo{
  background-image: url('./assets/images/nodejs-logo.png');
}

#postgres-logo{
  background-image: url('./assets/images/postgres-logo.png');
}

/* PORTFOLIO SECTION STYLING */
.portfolio-section{
  height: 120vh;
  width: auto;
  background: #E3E3E3;
  color: #111;
  text-decoration: none;
  font-family: Roboto, sans-serif;
  padding: 10px;
  line-height: 1.5em;
}

iframe{
  background: #FFF;
}

.portfolio-section a{
  text-decoration: none;
  color: #111;
}

.portfolio-header{
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio-header h1{
  font-size: 48px;
  font-family: Montserrat, sans-serif;
}

.portfolio-row{
  height: 45%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: space-between;
}

.portfolio-row-left, .portfolio-row-right{
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portfolio-row a{
  text-decoration: underline;
}

.portfolio-text{
  justify-content: space-around;
  font-size: 16px;
}

.portfolio-text h1{
  font-size: 36px;
}

.portfolio-text h3{
  font-size: 18px;
  margin: 5px;
}

.portfolio-text hr{
  border: solid 1px #11FFCD;
  width: 80%;
}

.portfolio-text-header{
  width: 100%;
  font-family: Montserrat, sans-serif;
  text-align: center;
}

.portfolio-project-desc{
  min-height: 33%;
  max-width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  margin: 10px;
}

.portfolio-section a:hover{
  transition: all ease 0.7s;
  color: #11FFCD;
}

.tech-container{
  width: 50%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 0px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: space-between;
}

.tech-container p{
  background: #F2F2F2;
  color: #777;
  border-radius: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
}

.btn{
  outline: none;
  cursor: pointer;
  font-family: Montserrat, sans-serif;
}

.link-btn{
  height: 50px;
  width: 150px;
  border: solid 2px #11FFCD;
  padding: 10px;
  font-size: 14px;
  border-radius: 30px;
  background: #F2F2F2;
  margin-bottom: 60%;
}

.link-btn:hover{
  transition: all ease 0.6s;
  background: #11FFCD;
}

/* CONTACT SECTION STYLING */
.contact-section{
  height: 45vh;
  width: 100%;
  background: #11FFCD;
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-text{
  text-align: center;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-text h1{
  font-family: Montserrat, sans-serif;
  font-size: 36px;
  margin: 15px;
}

.contact-text p{
  font-family: Roboto, sans-serif;
  font-size: 16px;
  margin: 15px;
}

.contact-btn{
  height: 50px;
  width: 150px;
  border: solid 2px #333;
  padding: 10px;
  margin: 15px;
  font-size: 14px;
  border-radius: 30px;
  background: #333;
  color: #11FFCD;
}

.contact-btn:hover{
  transition: all ease 0.5s;
  background: #11FFCD;
  color: #333;
}


/* FOOTER SECTION STYLING */
.footer-section{
  height: 20vh;
  width: 100%;
  background: #222;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Montserrat, sans-serif;
}

.footer-section a{
  text-decoration: none;
  color: #F2F2F2;
  margin-bottom: 15px;
}

.footer-section a:hover{
  text-decoration: underline;
  transition: all ease 0.5s;
  color: #11FFCD;
}

.footer-info{
  color: #F2F2F2;
  font-weight: lighter;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
}

.footer-social-media{
  width: 12%;
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 5;
}

.footer-social-media a{
  color: #F2F2F2;
}

.footer-social-media a:hover{
  transition: all ease 0.7s;
  color: #11FFCD;
}


/* SIDENAV STYLING */
.sidenav{
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: all ease 0.5s;
    padding-top: 60px;
    z-index: 6;
    font-family: Roboto, sans-serif;
}

.sidenav a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 24px;
    color: #F2F2F2;
    display: block;
    transition: 0.5s;
    margin-bottom: 10px;
}

.sidenav a:hover{
    color: rgb(17, 255, 205);
}

.sidenav .closebtn{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px){
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#elem{
  margin-top: 5%;
  z-index: 20;
}
